Repository hsuehic/create-npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

chore: update markdownlint
  .markdownlint-cli2.jsonc
  .vscode/settings.json
  package.json
  packages/cnp-lint/src/init.ts
  packages/eslint-plugin-cnp/README.md
  packages/eslint-plugin-cnp/docs/rules/declaration-array-type.md
  packages/eslint-plugin-cnp/docs/rules/define-type.md
  packages/eslint-plugin-cnp/docs/rules/no-console.md
  packages/eslint-plugin-cnp/docs/rules/only-import-export.md
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

feat: added api
  packages/cnp-lint/src/api.ts
  packages/cnp-lint/src/index.ts
  packages/cnp-lint/src/init.ts
Due: eslint --cache --cache-location .eslintcache --fix

fix: use correct package manager
  packages/cnp-lint/package.json
  packages/cnp-lint/src/api.ts
  packages/cnp-lint/src/dependence.ts
  packages/cnp-lint/src/index.ts
  packages/cnp-utils/src/npm.ts
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

feat: set husky and lintstaged as optional
  packages/cnp-lint/src/api.ts
  packages/cnp-lint/src/init.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: check whether it is under package or project root
  packages/cnp-lint/src/init.ts
Due: eslint --cache --cache-location .eslintcache --fix

chore: git ignore DS_store
  .gitignore
Due: none

chore: version
  packages/cnp-lint/CHANGELOG.md
  packages/cnp-lint/package.json
  packages/cnp-utils/CHANGELOG.md
  packages/cnp-utils/package.json
  packages/create-npm-packages/CHANGELOG.md
  packages/create-npm-packages/package.json
  packages/stylelint-config-cnp/CHANGELOG.md
  packages/stylelint-config-cnp/package.json
Due: npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

fix: lint, test
  .eslintrc.js
  .github/workflows/test.yml
  demo/cjs/.eslintrc.js
  packages/cnp-lint/README.md
Due: markdownlint-cli2 --fix, prettier --write

chore: version
  packages/cnp-lint/package.json
  packages/create-npm-packages/package.json
Due: npmPkgJsonLint

chore: remove unused scripts
  packages/cnp-utils/package.json
  packages/create-npm-packages/package.json
  packages/eslint-config-cnp/package.json
  packages/eslint-plugin-cnp/package.json
Due: npmPkgJsonLint

fix: lint, test by fix typescript version
  .eslintrc.js
  .npmrc
  demo/cjs/package.json
  demo/mjs/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
Due: npmPkgJsonLint

chore: update github workflow lint
  .github/workflows/lint.yml
Due: none

chore: remove unused scripts
  demo/cjs/package.json
  demo/mjs/package.json
Due: npmPkgJsonLint

chore: update github workflows
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  demo/cjs/package.json
  demo/mjs/package.json
Due: npmPkgJsonLint

feat: update eslint configs
  packages/cnp-lint/CHANGELOG.md
  packages/cnp-lint/package.json
  packages/cnp-lint/src/contant.ts
  packages/eslint-config-cnp/CHANGELOG.md
  packages/eslint-config-cnp/package.json
  packages/eslint-config-cnp/src/css-module.ts
  packages/eslint-config-cnp/src/jest.ts
  packages/eslint-config-cnp/src/node.ts
  packages/eslint-config-cnp/src/react.ts
  packages/eslint-config-cnp/src/typescript.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

feat: added --version option
  packages/create-npm-packages/.gitignore
  packages/create-npm-packages/CHANGELOG.md
  packages/create-npm-packages/package.json
  packages/create-npm-packages/src/cnp.ts
  packages/create-npm-packages/tsconfig.json
  tsconfig.eslint.json
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

fix: character escape
  packages/cnp-lint/src/api.ts
Due: eslint --cache --cache-location .eslintcache --fix

chore: version
  packages/cnp-lint/CHANGELOG.md
  packages/cnp-lint/package.json
Due: npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

fix: character escape
  packages/cnp-lint/CHANGELOG.md
  packages/cnp-lint/package.json
Due: npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

feat: added template typescript-monorepo
  packages/create-npm-packages/CHANGELOG.md
  packages/create-npm-packages/package.json
  packages/create-npm-packages/src/constant.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

fix: typo
  packages/cnp-lint/src/contant.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: added cnp-progress, fix cnp-lint, update rule of eslint-config-cnp
  .DS_Store
  .eslintrc.cjs
  .husky/commit-msg
  .lintstagedrc.json
  .markdownlint-cli2.jsonc
  .npmpackagejsonlintrc.json
  .vscode/launch.json
  package.json
  packages/cnp-lint/CHANGELOG.md
  packages/cnp-lint/package.json
  packages/cnp-lint/src/api.ts
  packages/cnp-lint/src/global.d.ts
  packages/cnp-lint/src/ts-progress.ts
  packages/cnp-lint/tsconfig.json
  packages/cnp-progress/.eslintrc.js
  packages/cnp-progress/CHANGELOG.md
  packages/cnp-progress/README.md
  packages/cnp-progress/package.json
  packages/cnp-progress/screenshot.gif
  packages/cnp-progress/screenshot.png
  packages/cnp-progress/src/example.ts
  packages/cnp-progress/src/progress.ts
  packages/cnp-progress/tsconfig.json
  packages/eslint-config-cnp/.eslintrc.js
  packages/eslint-config-cnp/CHANGELOG.md
  packages/eslint-config-cnp/package.json
  packages/eslint-config-cnp/src/global.d.ts
  packages/eslint-config-cnp/src/index.ts
  packages/eslint-config-cnp/src/jest.ts
  packages/eslint-config-cnp/src/typescript.ts
  packages/eslint-config-cnp/tsconfig.json
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

fix: lint scripts
  packages/cnp-lint/CHANGELOG.md
  packages/cnp-lint/package.json
  packages/cnp-lint/src/api.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

feat(cnp-lint): update progress bar color, added version option
  .eslintignore
  packages/cnp-lint/.gitignore
  packages/cnp-lint/CHANGELOG.md
  packages/cnp-lint/package.json
  packages/cnp-lint/src/api.ts
  packages/cnp-lint/src/init.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

chore: update eslint config
  packages/create-npm-packages/.eslintrc.cjs
  packages/eslint-plugin-cnp/.eslintrc.js
Due: none

fix: typo
  packages/cnp-lint/CHANGELOG.md
  packages/cnp-lint/package.json
  packages/cnp-lint/src/api.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

fix: typo
  packages/cnp-lint/CHANGELOG.md
  packages/cnp-lint/package.json
  packages/cnp-lint/src/contant.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

chore: update
  .npmpackagejsonlintrc.json
  packages/cnp-lint/tsconfig.json
Due: none

chore: update unmatched module setting
  packages/cnp-utils/tsconfig.json
Due: none

Path conditions:
  eslint --cache --cache-location .eslintcache --fix: any of: *.ts
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: any of: *.md
